@model AdminPanel.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        

        <dt>
           Ürün Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Açıklama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Fiyat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
           Resim
        </dt>

        <dd>
           <!--  @Html.DisplayFor(model => model.PicturePath) -->
            
            <img src="~/@Model.PicturePath"  />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ürünlere Geri Dön", "UrunListele","Categories",new { id = Model.CategoryId },null)
</p>
